In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [3]:
# Define file paths
file_path_2020 = "athletic_sales_2020.csv"
file_path_2021 = "athletic_sales_2021.csv"

# Read CSV files into DataFrames
df_2020 = pd.read_csv(file_path_2020)
df_2021 = pd.read_csv(file_path_2021)

In [4]:
# Display the 2020 sales DataFrame
print("Athletic Sales 2020:")
print(df_2020)

Athletic Sales 2020:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [5]:
# Display the 2021 sales DataFrame
print("Athletic Sales 2021:")
print(df_2021)

Athletic Sales 2021:
         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [6]:
# Check the 2020 sales data types.
print("\nData Types for Athletic Sales 2020:")
print(df_2020.dtypes)

Data Types for Athletic Sales 2020:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [7]:
# Check the 2021 sales data types.
print("\nData Types for Athletic Sales 2021:")
print(df_2021.dtypes)

Data Types for Athletic Sales 2021:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [8]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
df_combined = pd.concat([df_2020, df_2021], ignore_index=True)
print("\nCombined Athletic Sales Data:")
print(df_combined)

Combined Athletic Sales Data:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [9]:
# Check if any values are null.
print("\nNull values in Combined DataFrame:")
print(df_combined.isnull().sum())

Null values in Combined DataFrame:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [10]:
# Check the data type of each column
print("\nData Types for Combined Athletic Sales Data:")
print(df_combined.dtypes)

Data Types for Combined Athletic Sales Data:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [11]:
# Convert the "invoice_date" to a datetime datatype
df_combined['invoice_date'] = pd.to_datetime(df_combined['invoice_date'], errors='coerce')
print("\nCombined Athletic Sales Data:")
print(df_combined)

Combined Athletic Sales Data:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732   2020-01-01  Northeast      New York
1     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3     Foot Locker      1185732   2020-01-01  Northeast      New York
4     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9639  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9640       Amazon      1185732   2021-12-31  Northeast         Maine
9641       Amazon      1185732   2021-12-31  Northeast         Maine
9642  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

C:\Users\Edwar\AppData\Local\Temp\ipykernel_26728\2756938482.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_combined['invoice_date'] = pd.to_datetime(df_combined['invoice_date'], errors='coerce')

In [12]:
# Confirm that the "invoice_date" data type has been changed.
print("\nUpdated Data Types for Combined Athletic Sales Data:")
print(df_combined.dtypes)

Updated Data Types for Combined Athletic Sales Data:
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [15]:
# Group by region, state, and city, summing the number of products sold
grouped_sales = df_combined.groupby(["region", "state", "city"])['units_sold'].sum().reset_index()
grouped_sales.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Display the top 5 results
print("\nTop 5 Regions, States, and Cities by Total Products Sold:")
print(grouped_sales.head())

Top 5 Regions, States, and Cities by Total Products Sold:
    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

#### Using `pivot_table`

In [16]:
# Show the number products sold for region, state, and city.
pivot_sales = df_combined.pivot_table(values='units_sold', index=['region', 'state', 'city'], aggfunc='sum').reset_index()
pivot_sales.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
# Display the top 5 results
print("\nTop 5 Results Using Pivot Table:")
print(pivot_sales.head())

Top 5 Results Using Pivot Table:
    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [17]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_total_sales = df_combined.groupby(["region", "state", "city"])['total_sales'].sum().reset_index()
grouped_total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the top 5 results.
print("\nTop 5 Regions, States, and Cities by Total Sales:")
print(grouped_total_sales.head())

Top 5 Regions, States, and Cities by Total Sales:
    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

#### Using `pivot_table`

In [18]:
# Show the total sales for the products sold for each region, state, and city.
pivot_total_sales = df_combined.pivot_table(values='total_sales', index=['region', 'state', 'city'], aggfunc='sum').reset_index()
pivot_total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
# Show the top 5 results.
print("\nTop 5 Results Using Pivot Table for Total Sales:")
print(pivot_total_sales.head())

Top 5 Results Using Pivot Table for Total Sales:
    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [19]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_total_sales_retailer = df_combined.groupby(["retailer", "region", "state", "city"])['total_sales'].sum().reset_index()
grouped_total_sales_retailer.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
print("\nTop 5 Retailers, Regions, States, and Cities by Total Sales:")
print(grouped_total_sales_retailer.head())

Top 5 Retailers, Regions, States, and Cities by Total Sales:
  retailer     region          state        city  Total Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

#### Using `pivot_table`

In [20]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_total_sales_retailer = df_combined.pivot_table(values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum').reset_index()
pivot_total_sales_retailer.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
print("\nTop 5 Results Using Pivot Table for Total Sales by Retailer:")
print(pivot_total_sales_retailer.head())

Top 5 Results Using Pivot Table for Total Sales by Retailer:
  retailer     region          state        city  Total Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [22]:
# Filter the sales data to get the women's athletic footwear sales data.
df_womens_footwear = df_combined[df_combined['product'] == "Women's Athletic Footwear"]
print("\nWomen's Athletic Footwear Sales Data:")
print(df_womens_footwear)

Women's Athletic Footwear Sales Data:
         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [23]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
grouped_womens_footwear = df_womens_footwear.groupby("retailer")['units_sold'].sum().reset_index()
grouped_womens_footwear.rename(columns={'units_sold': "Women's_Footwear_Units_Sold"}, inplace=True)

# Show the top 5 results.
print("\nTop 5 Retailers by Women's Athletic Footwear Sales:")
print(grouped_womens_footwear.head())

Top 5 Retailers by Women's Athletic Footwear Sales:
        retailer  Women's_Footwear_Units_Sold
0         Amazon                        22544
1    Foot Locker                        73104
2         Kohl's                        38094
3  Sports Direct                        73697
4        Walmart                        26835

#### Using `pivot_table`

In [24]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_womens_footwear = df_womens_footwear.pivot_table(values='units_sold', index=['retailer'], aggfunc='sum').reset_index()
pivot_womens_footwear.rename(columns={'units_sold': "Women's_Footwear_Units_Sold"}, inplace=True)
# Show the top 5 results.
print("\nTop 5 Results Using Pivot Table for Women's Athletic Footwear Sales:")
print(pivot_womens_footwear.head())

Top 5 Results Using Pivot Table for Women's Athletic Footwear Sales:
        retailer  Women's_Footwear_Units_Sold
0         Amazon                        22544
1    Foot Locker                        73104
2         Kohl's                        38094
3  Sports Direct                        73697
4        Walmart                        26835

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [25]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_total_sales = df_combined.pivot_table(values='total_sales', index='invoice_date', aggfunc='sum')
print("\nPivot Table for Total Sales:")
print(pivot_total_sales)

Pivot Table for Total Sales:
              total_sales
invoice_date
2020-01-01         845141
2020-01-02         689410
2020-01-03         632573
2020-01-04         615080
2020-01-05         707829
...                   ...
2021-12-27         602353
2021-12-28         301010
2021-12-29         211109
2021-12-30         167903
2021-12-31         198659

[723 rows x 1 columns]

In [26]:
# Resample the pivot table into daily bins, and get the total sales for each day.
resampled_sales = pivot_total_sales.resample('D').sum()

# Sort the resampled pivot table in descending order based on Total Sales
resampled_sales_sorted = resampled_sales.sort_values(by='total_sales', ascending=False)
print("\nTop Daily Total Sales:")
print(resampled_sales_sorted)

Top Daily Total Sales:
              total_sales
invoice_date
2021-07-16       12261098
2021-12-16       10871121
2021-06-17       10239903
2021-08-17        9517031
2021-07-23        7689134
...                   ...
2020-10-16              0
2020-10-15              0
2020-10-14              0
2020-10-13              0
2020-12-31              0

[731 rows x 1 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [27]:
# Resample the pivot table into weekly bins and get total sales per week
resampled_sales_weekly = pivot_total_sales.resample('W').sum()

# Sort the resampled weekly pivot table in descending order based on Total Sales
resampled_sales_weekly_sorted = resampled_sales_weekly.sort_values(by='total_sales', ascending=False)
print("\nTop Weekly Total Sales:")
print(resampled_sales_weekly_sorted)

Top Weekly Total Sales:
              total_sales
invoice_date
2021-07-11       26271380
2021-07-18       24731702
2021-12-19       24698535
2021-12-12       23250286
2021-08-22       22225401
...                   ...
2020-11-22         927605
2020-12-06         739673
2020-12-20         590227
2020-12-13         466322
2020-10-18         251468

[105 rows x 1 columns]